<!DOCTYPE html>
<html lang="en" ng-app="tuto"> 
<head>
	<meta charset = "UTF-8">
	<title> Arduino Node.js</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src ="socket.io/socket.io.js"></script>
	<script >

		var app = angular.module('tuto',[]);
		var socket = io();

		

		app.controller('temperature',['$scope',function($scope){
			
			socket.on('value',function(lecture){ // appel de la fonction lecture
				$scope.$apply(function(){
				$scope.data = lecture;// modification de {{data}}

				});

			console.log(lecture);
			});
			
		}])

	</script>
	<script type="text/javascript">

	
	  
	

	</script>
</head>
<body>


<div ng-controller="temperature">
{{data}}
</div>

</body>
</html>